.leftSide { 
    background-color: rgb(234, 128, 238);
    grid-area: leftSide; 
    margin-top: 0;
    margin-left: 0;
    margin-right: 0%;
    color: rgb(255, 255, 255);
 }

 .leftSide h1{
    font-family: futura-pt, sans-serif;
    font-size: large;
    font-weight: 700;
    font-style: normal;
    padding-left: 80px;
    margin-top: 48px;
 }

.leftSide p {
    font-family: futura-pt, sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-left: 80px;
}

.leftSide button{
    background-color: rgb(255, 255, 255);
    color: black;
    border: none;
    font-family: futura-pt, sans-serif;
    font-size: large;
    font-weight: 700;
    font-style: normal;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 80px;
}

.user-profile {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
  }

  .bio-p{
    margin-right: 400px;
    line-height: 20px;
  }
  
  .profile-header {
    text-align: left;
    margin-bottom: 20px;
  }
  
  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .profile-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .profile-details {
    text-align: left;
  }
  
  .profile-details h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .profile-details p {
    font-size: 16px;
    color: rgb(255, 255, 255);
  }

  .upd-btn {
    background-color: rgb(251, 141, 255);
    border: none;
    align-items: right !important;
    width: 200px;
    font-size: large;
    font-weight: 700;
    font-style: normal;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 0px;
  }

  .pst-btn {
    background-color: white;
    color: rgb(251, 141, 255);
    border: none;
    align-items: right !important;
    width: 200px;
    font-size: large;
    font-weight: 700;
    font-style: normal;
    padding: 15px 30px 15px 30px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 0px;
  }
  